.form-wrapper {
	display: grid;
	grid-gap: 10%;
	grid-template-columns: 45% 45%;
	grid-template-rows: 50px 50px 50px 50px;
}

.form-label {
	font-size: 8pt;
	font-weight: 700;
}

.form-hint {
	font-size: 8pt;
	color: #B5B3B2;
	visibility: hidden;
}

.form-input {
	width: 100%;
	border-radius: 3px;
	border: 2px solid #B5B3B2;
	height: 25px;
	padding-left: 10px;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #CECECE;
    border: none;
    color: black;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

/* The container */
.radio-group {
	display: block;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 9pt;
	user-select: none;
	float: left;
	width: auto;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Hide the browser's default radio button */
.radio-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #B5B3B2;
}

/* On mouse-over, add a grey background color */
.radio-group:hover input ~ .check-mark {
    background-color: #fff;
    border: 2px solid green;
}

/* When the radio button is checked, add a blue background */
.radio-group input:checked ~ .check-mark {
    background-color: #fff;
    border: 2px solid green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-group input:checked ~ .check-mark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-group .check-mark:after {
 	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
}


/* The container */
.checkbox-group {
	display: block;
	position: relative;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 9pt;
	user-select: none;
	float: left;
	width: auto;
	padding-top: 5px;
	padding-left: 35px;
	padding-right: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
	border-radius: 3px;
	border: 2px solid #B5B3B2;
}

/* On mouse-over, add a grey background color */
.checkbox-group:hover input ~ .checkbox-mark {
    background-color: #fff;
    border: 2px solid green;
}

/* When the checkbox is checked, add a blue background */
.checkbox-group input:checked ~ .checkbox-mark {
    background-color: #fff;
    border: 2px solid green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-group input:checked ~ .checkbox-mark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-group .checkbox-mark:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type=text]:focus {
	/*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
	box-shadow: none;
	outline-color: transparent;
	border: 2px solid green; /*rgba(81, 203, 238, 1);*/
}

input:focus + span.form-hint {
	visibility: visible;
}